body {
    padding: 0;
    margin: 0;
}

#navigation {
    width: 666px;
}

.carousel-media {
    height: 400px;
}

.dark:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.4;
}

.extra-caption-fix {
    top: 40%;
    z-index: 1;
}

.modal-div {
    width: 1320px;
    height: 300px;
}

.company-group {
    height: 22px;
}

.footer-stuff {
    text-decoration: none;
    color: white;
}




/* ----------------MEDIA QUERIES---------------- */



/* small, sm => 576px */
@media (max-width: 767px) {
    .carousel-media {
        padding-top: 70px;
        height: 200px;
    }

    .carousel-caption-media {
        top: 10px;
        width: 100px;
    }

    .carousel-caption-media h1 {
        font-size: 15px;
    }

    .carousel-caption-media p {
        font-size: 10px;
        padding-top: 2px !important;
        padding-bottom: 2px;
        margin-bottom: 0;
    }

    .carousel-caption-media .btn {
        font-size: 10px;
    }

    .card-media {
        display: flex !important;
        flex-direction: column !important;
    }

    .card-pic-media {
        height: 320px;
    }

    .card-pic-media img {
        height: 300px !important;
        max-width: 500px !important;
    }

    .modal-media .join-text {}

    .unwanted-media {
        display: none !important;
    }
}


/* medium, md => 768px */
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-media {
        padding-top: 50px;
        height: 350px;
    }

    .carousel-caption-media {
        top: 20%;
        display: flex;
        align-items: center !important;
    }

    .carousel-caption-media p {
        margin: 0;
        padding-bottom: .5rem !important;
        width: 400px;
        text-align: center;
    }

    .modal-media {
        display: flex;
        justify-content: center !important;
    }

    .unwanted-media {
        display: none !important;
    }
}